body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.header {
  background-color: #4CAF50;
  color: white;
  padding: 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 16px;  
  margin: 0;         
}

.toggle-mode {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.toggle-mode input {
  margin-right: 5px;
}


.main {
  display: flex;
  flex: 1;
}


.sidebar {
  width: 200px;
  background-color: #f1f1f1;
  padding: 20px;
}

.sidebar ul {
  list-style: disc;
  padding-left: 20px;
  margin: 0;
}

.sidebar li {
  margin-bottom: 15px;
}

.sidebar a {
  text-decoration: underline;
  color: purple;
}

/* Content */
.content {
  flex: 1;
  padding: 20px;
  background-color: white;
}

/* Footer */
.footer {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 10px;
}

/* Dark Mode */
body.dark-mode {
  background-color: #121212;
  color: #eee;
}

body.dark-mode .header,
body.dark-mode .footer {
  background-color: #222;
}

body.dark-mode .sidebar {
  background-color: #1e1e1e;
}

body.dark-mode .sidebar a {
  color: #a8a8ff;
}

body.dark-mode .content {
  background-color: #181818;
}
